.o_web_client{
    .o_sidebar_manage_attachment{
        .o_sidebar_manage_icon{
            padding: 0px;
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }
}
